[submodule "deps/riak-mesos-scheduler"]
	path = deps/riak-mesos-scheduler
	url = git@github.com:basho-labs/riak-mesos-scheduler.git
[submodule "deps/riak-mesos-executor"]
	path = deps/riak-mesos-executor
	url = git@github.com:basho-labs/riak-mesos-executor.git
[submodule "deps/riak-mesos-director"]
	path = deps/riak-mesos-director
	url = https://github.com/basho-labs/riak-mesos-director.git
[submodule "deps/riak_explorer"]
	path = deps/riak_explorer
	url = https://github.com/basho-labs/riak_explorer.git
[submodule "riak/riak"]
	path = riak/riak
	url = https://github.com/basho/riak
[submodule "riak/riak_ee"]
	path = riak/riak_ee
	url = git@github.com:basho/riak_ee.git
[submodule "tools/riak-mesos-tools"]
	path = tools/riak-mesos-tools
	url = https://github.com/basho-labs/riak-mesos-tools
[submodule "tools/riak-mesos-dcos-repo"]
	path = tools/riak-mesos-dcos-repo
	url = https://github.com/basho-labs/riak-mesos-dcos-repo
