[submodule "framework/riak-mesos-scheduler"]
	path = framework/riak-mesos-scheduler
	url = git@github.com:basho-labs/riak-mesos-scheduler.git
[submodule "framework/riak-mesos-executor"]
	path = framework/riak-mesos-executor
	url = git@github.com:basho-labs/riak-mesos-executor.git
[submodule "framework/riak-mesos-director"]
	path = framework/riak-mesos-director
	url = https://github.com/basho-labs/riak-mesos-director.git
[submodule "framework/riak_explorer"]
	path = framework/riak_explorer
	url = https://github.com/basho-labs/riak_explorer.git
[submodule "tools/riak-mesos-tools"]
	path = tools/riak-mesos-tools
	url = https://github.com/basho-labs/riak-mesos-tools
[submodule "tools/riak-mesos-dcos-repo"]
	path = tools/riak-mesos-dcos-repo
	url = https://github.com/basho-labs/riak-mesos-dcos-repo
