{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps", "apps"]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            %% warn_untyped_record, %% Webmachine has many of these
            {parse_transform, lager_transform}]}.
{xref_checks, [undefined_function_calls]}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.
{reset_after_eunit, true}.
{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package", {tag, "2.0.1"}}},
        {clique, "0.3.1", {git, "git://github.com/basho/clique.git", {tag, "0.3.1"}}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.8"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {tag, "2.0.1"}}},
        {erl_mesos, ".*", {git, "git@github.com:basho/mesos-erlang", {branch, "master"}}}
        %% run_node_package will only be necessary in the executor
        %% {run_node_package, ".*", {git, "git@github.com:basho-bin/run_node_package", {branch, "master"}}}
       ]}.
