{erl_opts, [debug_info,
            warnings_as_errors,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{deps, [
        {lager, "2.*", {git, "git://github.com/basho/lager.git", {branch, "2.x"}}}, %%     vv Kill me now.
        {run_node_package, ".*", {git, "git@github.com:basho-bin/run_node_package", {branch, "master"}}}
       ]}.
